<<<<<<< HEAD
#con1 {
    margin-left: 400px;
    color: white;
}
body {
    height: 100%;
    background-image: url(https://pw.artfile.me/wallpaper/23-10-2012/650x407/trollface-vektornaya-grafika-galstuk-lic-49996.jpg);
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover
}
=======
body{
	background-image: url(https://i.pinimg.com/originals/df/4e/8b/df4e8ba28f912bf9cdf9fa0dfc196411.png);
}
>>>>>>> 05211c5c8fcf5a451a594926f1dd7b7a8bfbf870
